.horizontalcssmenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.horizontalcssmenu ul li{
	position: relative;
	display: list-item;
	list-style-type: none;
	float: left;
}
.horizontalcssmenu ul.ulcap1 li ul{
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	visibility: hidden;
	z-index: 100;
	width: 200px;
	background: url("/html/themes/nss_cttdt/images/hcs/ulbg.png") repeat left top;
}
.horizontalcssmenu ul.ulcap1 li ul li{
	float: none;
	background: url("/html/themes/nss_cttdt/images/hcs/line_ul.png") repeat-x left bottom;
}
.horizontalcssmenu ul.ulcap1 li ul li a {text-transform: capitalize;height: auto;color: #fff;padding: 6px 6px 6px 15px ;font-weight: normal;}
.horizontalcssmenu ul.ulcap1 li ul li a:hover{
	color: #ffff00;
	text-decoration: none;
}

.horizontalcssmenu .arrowdiv{
	position: absolute;
	right: 0;
}