<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#parse ($init)
<html dir="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>$the_title - $company_name</title>
	$theme.include($top_head_include)
</head>
<body class="$css_class">
$theme.include($top_messages_include)
<div id="wrapper">
	<div style="position: relative; padding-right: 5px; right: 0pt; z-index: 20;">
		#if($themeDisplay.isSignedIn())
    		#parse ("$full_templates_path/dock.vm")
		#end
	</div>

	<div id="boxcontainer">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()
	
			$portletDisplay.setTitle($the_title)
	
			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
</div>

</body>
$theme.include($bottom_include)
</html>